<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rkboss.mtk">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/rk_boss"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rk_boss"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.rkboss.mtk.Balance_ax"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.rkboss.mtk.SingleBet"
            android:exported="false"
            android:label="@string/title_activity_single_bet"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.rkboss.mtk.ForgotPassword"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.DelhiGames"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.DelhiJodiMarkets"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.AdminMessage"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.OTPVerification"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.TransferCoin"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.Wallet"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.starline_timings"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.starline_games"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.WithdrawDetails"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.SpMotor"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.SpDpTp"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.RedBracket"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.OddEven"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.starline_markets"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.withdraw"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.single_bet"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.games"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.deposit_money"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.webview"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.chart_menu"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.charts"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.crossing"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.earn"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.fullsangam"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.halfsangam"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.betting"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.splash"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rkboss.mtk.ledger"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.transactions"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.played"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.howot"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.thankyou"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.bazar"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.notice"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.rate"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.profile"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.signup"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.login"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.CyclePanna"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.FamilyJodi"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.RedFamilyJodi"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.FamilyPannel"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rkboss.mtk.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/madhur_milan" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>

